

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body{
    min-height: 100vh;
    display: flex;
    background-color: gray;
    flex-direction: column;
}


.container-top{
    flex-grow: 2;
}  


.container-middle{
    flex-grow: 8;
    background-color: #2F2d3f;
    align-content: center;
    display: flex;
}
.left{
    flex-grow: 2;
}
.right{
    flex-grow: 2;
}

.picture-box{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}


.image{
    height: 4em;
    width:4em;
    border-radius: 50%;
}

.container-bottom{
    flex-grow: 2;
    
}

.image-box{
    flex-grow: 1;
    background-color: palevioletred;
    border-radius: 1em 1em 0 0;
    justify-content: center;
    display: flex;
}
#message-img{
    border: 1px solid #fff;
}
p{
    background-color: #2F2d3f;
}

.message-box{
    flex-grow: 5;
    background-color: rgb(36,32,56);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}
.write-message{
    flex-grow: 1;
    background-color: #2F2d3f;
    border-radius: 0 0 1em 1em;
    display: flex;
}
#btn{
    height: 100%;
    width: 5em;
    background-image: url(telegram.svg);
    background-repeat: no-repeat;
    flex-grow: 1;
}
.write-message input{
    flex-grow: 18;
}
#img{

}


